<h1>Log In</h1>
<form class="" action="<%= sessions_url %>" method="post">
  <%= auth_token %>
  <input type="text" id="username" name="user[username]" placeholder="Enter Username">
  <input type="password" id="password" name="user[password]" placeholder="Enter Password">
  <input type="submit" value = "Submit">
</form>
